body { 
    font-family: 'Roboto', sans-serif;
    color: #434455; 
    background-color: var( --brand-color);
}
a {
    text-decoration: none;
    color: wheat
}
:root {
    --brand-color:#FFFFFF;
    --letter-spacing: #4D5AE5;
    --link-color: #2E2F42;
    --link-color-add:#434455;
    --color-footer:#F4F4FD;
    --color-border:#E7E9FC;
    --color-customers:#8e8f99;
    --color-cheked: #404bbf;  
  }
  h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
/*Container for mobile*/
@media screen and (min-width:320px){
.container {
    min-width: 320px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    }
}
/*Container for tablet*/
@media screen and (min-width:768px){
    .container{
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }
}
/*Container for desktop*/
@media screen and (min-width:1158px){
    .container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    flex-wrap: wrap;
    }
}
/*Header styles*/
.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--letter-spacing);
    margin-right: 76px;
    padding-top: 25.5px;
}
@media only screen and (min-width: 320px) {
    .link-logo {
        padding-top: 24px; 
        padding-bottom: 23px;
    }
}
@media only screen and (min-width: 768px) {
    .link-logo {
        margin-right: 120px;
        padding-top: 24px; 
        padding-bottom: 23px;
    }
}
@media only screen and (min-width: 1158px) {
    .link-logo {
    margin-right: 76px
    }
}
.link-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--letter-spacing);
    margin-bottom: 16px;
    display: inline-block;
}
.accent {
   color: var(--color-footer);
}
.accent-h {
    color: var(--link-color);
}
.accent-1 {
    color: var(--link-color);
}
.link {
    text-decoration: none;
}
.list {
    list-style: none
}
.header {
    border-bottom: 1px solid var(--color-border);
    box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
    height: 72px;
    top: 24px;
}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color);
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.header-link.active::after {
    content: '';
    position: absolute; 
    left: 0; 
    display: block;
    bottom: -1px; 
    width: 100%;
    height: 4px;
    background-color: #404bbf; 
    border-radius: 2px;
    color: #404bbf;  
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media only screen and (min-width: 320px) {
   .header-container {
    display: flex;
    justify-content: space-between;
   }
}
@media only screen and (min-width: 768px) {
    .header-container {
        display: flex;
        align-items: center;
    }
}
@media only screen and (min-width: 1158px) {
    .header-container {
        display: flex;
        align-items: center;
    }
}
.header-nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    color: #404bbf;
    margin-right: auto;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 320px) {
    .header-nav {
    display: flex;
    align-items: space-between;
    }
}
@media only screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 120px;
    }
}
@media only screen and (min-width: 1158px) {
  .header-nav {
    margin-right: 76px;
    }
}
.link {
    text-decoration: none;
}
.link:hover,
.link:focus {
    color:#404bbf
}
@media only screen and (min-width: 320px){
    .header-nav .list {
    display: none;
    }
}
@media only screen and (min-width: 320px) {
    .header-networks .list {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .header-nav .list {
    display: flex;
    align-items: center;
    gap: 40px;
    }
}
.menu-toggle-icon {
    stroke: #2E2F42;
}
.header-list {
    display: flex;
    gap: 40px;
    padding-top: 24px;
}
.header-item {
    margin-right: 40px;
}
.header-item:last-child {
    margin-right: 0;
}
.address {
    font-style: normal;
    list-style: none;
}
.header-networks {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color-add);
    display: flex;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.header-networks.link {
    padding-top: 24px;
}
.header-networks:last-child {
    margin-right: 0;
}
.link:hover,
.link:focus {
    color:#404bbf
}
.hero {
    background-color: var(--link-color);
    padding: 188px 0; 
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img13.jpg);
    max-width: 1440px; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    justify-content: center;
    background-color: var(--primary-dark-color);
    text-align: center;
    display: flex;
    margin: 0 auto;
} 
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(var(--primary-dark-color), var(--primary-dark-color)),
            url(../images/mob_@1x.jpg);
    }
}
@media only screen and (min-width: 320px) {
    .hero {
        background-image: linear-gradient(var(--primary-dark-color), var(--primary-dark-color)),
                url(../images/tab_1x.jpg);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(var(--primary-dark-color), var(--primary-dark-color)),
                    url(../images/tab_@2x.jpg);
        }
    }
}    
@media only screen and (min-width: 769px) {
    .hero {
        background-image: linear-gradient(var(--primary-dark-color), var(--primary-dark-color)),
                url(../images/img13.jpg);
    }
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(var(--primary-dark-color), var(--primary-dark-color)),
                    url(../images/img13.jpg);
            }
        }
}
@media screen and (min-width:1158px) { 
.hero-h {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 48px;
    }
}
@media screen and (min-width:320px) {
  .hero-h { 
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 320px;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 48px;
   }
}
@media screen and (min-width:768px) {
    .hero-h {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.07em;
        color: #ffffff;
        max-width: 496px;
        justify-content: center;
        margin: 0 auto;
        padding-bottom: 48px;
    }
}
.btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}
.btn:hover,
.btn:focus {
    background-color:  #404BBF;
}
/*Feature*/
.feature {
    padding: 120px 0;
}
/*Feature for mobile*/
@media only screen and (min-width:320px) {
    .feature { 
    max-width: 396px;
    margin-left: auto;
    margin-right: auto;
}
}
/*Feature for tablet*/
@media only screen and (min-width:768px) {
  .feature {
    max-width: 736px;
    }
}    
/*Feature for desktop*/
 @media only screen and (min-width: 1158px) {
  .feature {
    max-width: 1158px;
    padding: 120px 0;
    }
}
@media only screen and (max-width: 1157px){
.feature-ic{
    display: none;
}
}
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
/*.feature-div{
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 112px;
    background-color: #f4f4fd; 
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    padding: 24px 0;
}*/
/*.feature-p {
    list-style: none;
    display: flex;
    gap: 24px;
    text-align: center; 
}*/
@media only screen and (min-width:320px) {
    .feature-p {
        margin-bottom: 96px;
    }
}
@media only screen and (min-width:320px) { 
.feature-p:first-child {
    padding-top: 96px;
}
}
@media only screen and (min-width:768px) {
    .feature-p {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
}
@media only screen and (min-width:1158px) {
    .feature-p {
        flex-wrap: nowrap;
    }
}

/*.strategy {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--link-color);
    text-align: center;
    margin-bottom: 8px;
}*/
/*Strategy for mobile*/
@media only screen and (min-width:320px) { 
.strategy { 
    font-family: Roboto;
    color: var(--link-color);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
}
.feature-li {
    padding-bottom: 72px;
}
@media only screen and (min-width:320px) {
    .feature-li:last-child {
        padding-bottom: 72px;
    }
}
/*Strategy for tablet*/
@media only screen and (min-width:768px) {
  .strategy{
    max-width: 356px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 24px;
    text-align: center; 
      }
  }  
@media only screen and (min-width: 768px) {
    .feature-li {
        width: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width:1158px) {
.feature-li {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: calc((100% - 72px) / 4);
}
}
@media only screen and (min-width:768px) {
    .feature-li {
        flex-basis: calc((100% - 24px) / 2);
    }
}
.strategy-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var( --link-color-add);
    text-align: center;
}
.img-section {
    padding-bottom: 120px;
}
@media only screen and (max-width: 1157px) {
.img-section {
    display: none;
}
}
.img_h {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--link-color);
    margin-bottom: 72px;
}
.img_ul { 
    display: flex;
    gap:24px;
}
.img-wawd {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 48px) / 3);
}
/*Our Team*/
.section-team {
    background-color: #F4F4FD;
    padding: 120px 0;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
@media only screen and (min-width: 320px) {
    .section-team {
        padding: 96px 0;
    }
}
@media only screen and (min-width: 1158px) {
    .section-team {
        padding: 120px 0;
    }
}
.section-team-title {
    font-size: 36px;
    margin-bottom: 72px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--link-color);
    
}
.section-team-list {
    display: flex;
     gap: 24px;
}
.section-team-list:last-child {
    margin-right: 0;
}
@media only screen and (min-width: 320px) {
    .section-team-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 72px
    }
}
@media only screen and (min-width: 768px) {
    .section-team-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
} 
    .section-team-item {
        background-color: #FFFFFF;
        display: flex;
        padding: 0px 0px 32px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        border-radius: 0px 0px 4px 4px;
        background: var(--brand-color);
        box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
    .section-team-item {
        width: calc((100% - 32px) / 2);
    }
}
@media only screen and (min-width: 1158px) { 
.section-team-item {
    background-color: #FFFFFF;
    display: inline-flex;
    padding: 0px 0px 32px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
    background: var(--brand-color);
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
}
}
.hpd-p {
   padding: 32px 16px; 
   border: 1px solid var( --color-border);
   border-top: none;
   padding: 32px 0;
}
/*Customers*/
.customers {
    padding-top: 120px; 
    padding-bottom: 120px;
}
@media only screen and (min-width: 320px) {
    .customers {
        padding: 72px 0;   
    }
}
@media only screen and (min-width: 768px) {
    .customers {
        padding: 96px 0;   
    }
}
@media only screen and (min-width: 1158px) {
    .customers {      
        padding: 120px 0;
        margin: 0 auto;
    }
}
.customers-h {
    font-size: 36px;
    line-height: 1.11;
    color: var(--link-color);
    margin-bottom: 72px; 
    text-align: center;
    letter-spacing: 0.02em;
}
@media only screen and (min-width: 320px) {
    .customers-ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 72px;
        column-gap: 16px;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 320px) {
    .customers-ul-li {
        width: calc((100% - 16px) / 2);
    }
}
@media only screen and (min-width: 768px) {
    .customers-ul {
      gap: 72px 24px;
 }
}
@media only screen and (min-width: 768px) {
    .customers-ul-li {
        width: calc((100% - 48px) / 3);
    }
}
.customers-ul {
    display: flex;
    gap: 24px;
}
@media only screen and (min-width: 1158px) { 
.customers-ul-li {
    width: calc((100% - 120px) / 6); 
    height: 88px;
}
}
.customers-a {
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    color: var(--color-customers);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.customers-a:hover,
.customers-a:focus {
    border-color: #404bbf; 
    color: #404bbf;
}
.customers-svg {
    fill: currentColor;  
}
/*Footer*/
.footer {
    background-color: var(--link-color);
    padding: 100px 0;
}
@media only screen and (min-width: 320px) {
    .footer {
    padding-top: 97.5px;
    }
}
@media only screen and (min-width: 768px) {
    .footer {
        padding-top: 97.5px;
    }
}
@media only screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
}
}
.footer-div {
    display: flex;
    align-items: baseline;
    margin-right: 120px;
}
@media only screen and (min-width: 320px) {
    .footer-div {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        padding-left: 80px;
    }
}
@media only screen and (min-width: 768px) {
    .footer-div {
        display: flex;
        flex-wrap: wrap;
        text-align: left;  
    }
}
@media only screen and (min-width: 1158px) {
    .footer-div {
        display: flex;
        align-items: baseline;
        margin-right: 120px;
        flex-wrap: nowrap;
    }
}
@media only screen and (min-width: 320px) {
    .footer-a-p {
    margin-right: 120px;
    }
}
@media only screen and (min-width: 320px) {
    .footer-a-p {
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .footer-a-p {
        text-align: left;
        margin-right: 24px;
        margin-bottom: 72px;
    }
}

.footer-p {
    line-height: 1.5;
    color: var( --color-footer);
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-p-div {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    margin-bottom: 16px;
}
.footer-soc {
    display: flex; 
    gap: 16px;
    justify-content: center;
    margin-bottom: 16px;
}
@media only screen and (min-width: 320px) {
    .footer-soc {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 24px 0;
    }
}
@media only screen and (min-width: 768px) {
    .footer-soc {
    display: block;
    margin: 0;
    text-align: left;
    }
}
@media only screen and (min-width: 1158px) {
.footer-soc {
    margin-right: 80px;
}
}
.footer-soc_list {
    margin-right: 120px;
    line-height: 1.5;
    color: var( --color-footer);
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-soc-li {
    width: 40px;
    height: 40px; 
}
.footer-soc-a {
    display: flex; 
    width: 100%;
    height: 100%;
    background-color: var(--letter-spacing);
    border-radius: 50%;
    align-items: center; 
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.footer-soc-a:hover,
.footer-soc-a:focus {
    background-color: #31d0aa; 
}
.svg-soc {
    fill: var(--color-footer);
}
.footer-form-d {
    margin-left: 80px;
}
@media only screen and (min-width: 320px) {
    .footer-form-d{
    text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    .footer-form-d{
    margin-top: 72px;
    }
}
@media only screen and (min-width: 1158px) {
    .footer-form-d {
    margin-left: 80px;
    }
}
.footer-form-p {
    margin-bottom: 16px;
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #ffffff; 
}
.footer-form {
    display: flex; 
    gap: 24px;
}

.footer-input {
    width: 264px; 
    height: 40px;
    border: 1px solid #ffffff; 
    background-color: transparent; 
    font-size: 12px; 
    line-height: 1.5; 
    letter-spacing: 0.04em; 
    padding-left: 16px; 
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    border-radius: 4px; 
    color: #ffffff; 
}
.footer-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none; 
    border-radius: 4px; 
}
.footer-svg {
    margin-left: 16px; 
}
/*Portfolio styles*/
.btn-menu {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.btn-port {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--letter-spacing );
    background-color: var( --color-footer);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-port:hover,
.btn-port:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12)
}
.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
/*section card*/
.item-img {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0px;
}
.item-img-li {
    width: calc((100% - 48px) / 3);
}
.div-a {
    padding: 32px 16px;
    border-top: none;
}
.a-img {
    display: block;
    text-decoration: none;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    flex-direction: column;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.a-img:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.a-img:hover .overlay-p,
.a-img:focus .overlay-p {
    transform: translateY(0%);
}
.overlay {
    position: relative;
    overflow: hidden;
}
.overlay-p {
    position: absolute; 
    top: 0;
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: var(--color-footer);
    padding: 40px 32px; 
    background-color: #4d5ae5; 
    height: 100%; 
    width: 100%; 
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-h-p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--link-color);
    margin-bottom: 8px;
    text-align: center;
}
.img-p-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--link-color-add);
    text-align: center;
}
/*social*/
.social-networks {
    display: flex; 
    list-style: none;
    justify-content: center; 
    gap: 24px;
}
.social-networks-li {
    width: 40px; 
    height: 40px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks-a {
    display: flex;
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.social-networks-a:hover, 
.social-networks-a:focus { 
    background-color: #404bbf;
}
.social-networks-svg {
    fill: var(--color-footer);
}
/*Modal*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    width: 408px; 
    min-height: 584px; 
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
    border-radius: 4px; 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 72px 24px 24px 24px;
}
.btn-modal {
    position: absolute; 
    display: flex; 
    top: 24px; 
    right: 24px; 
    width: 24px;
    height: 24px;
    border-radius: 50%; 
    align-items: center; 
    justify-content: center; 
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.btn-modal:hover {
    background-color: #404bbf; 
    border: none;
    fill: #ffffff; 
}
.btn-modal:focus {
    background-color: #404bbf; 
    border: none;
    fill: #ffffff; 
}
.modal_icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
form {
    padding: 0;
    padding-top: 16px;
}
input {
    display: flex;
    width: 360px;
    height: 58px;
    margin: 0 auto;
    margin-bottom: 8px;
}
.modal-p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--link-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    margin-bottom: 16px; 
}
.modal-form-container {
    margin-bottom: 8px; 
}
.btn-modal:hover .modal_icon,
.btn-modal:focus .modal_icon {
    fill: #4D5AE5; 
}
.btn-modal:hover,
.btn-modal:focus {
    background-color: #4D5AE5;
}
.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em; 
    color: var(--color-customers);
    display: block; 
    margin-bottom: 4px; 
}
.input-container {
    position: relative; 
}
.form-input {
    width: 100%; 
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px; 
    background-color: transparent; 
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.form-input:focus {
    border-color: #4D5AE5; 
}
.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.form-input:focus + .form-icon {
    fill: #4D5AE5; 
}
.textrea {
    width: 100%;
    height: 120px; 
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    color: rgba(46, 47, 66, 0.4); 
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent; 
    padding: 8px 16px; 
    outline: transparent; 
    resize: none; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textrea:focus {
    border-color: #4D5AE5; 
}
.form-checkbox:checked + .form-label-privacy .label-span  {
    border: none; 
    background-color: var(--color-cheked);
    fill: var(--color-footer);
}
.modal-check {
    display: flex;
    width: 360px;
    margin-bottom: 24px; 
}
.form-label-privacy {
    font-size: 12px; 
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    color: var(--color-customers); 
}
.label-span {
    width: 16px; 
    height: 16px; 
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    fill: transparent;
}
.policy-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--letter-spacing);
    text-decoration: underline;
}
.form-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none; 
    border-radius: 4px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.privacy-container {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:rgba(142, 143, 153, 1);
    background-color: transparent;
    align-items: center;
    margin-bottom: 16px; 
}
.form-label-privacy {
    align-items: center;
    gap: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}
/*Mobile menu*/
@media screen and (min-width: 768px) {
    .menu-container{
        display: none;
    }
}
@media screen and (max-width: 1158px) {
    .menu-container {
        display: none;
    }
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color:#FFFFFF;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    display: flex;
    flex-direction: column;
}
@media (max-width: 320px) {
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 24px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    stroke: #2E2F42;
}
}
@media (min-width: 768px) {
    .menu-toggle {
    display: none;
    }
}
@media (min-width: 1158px) {
    .menu-toggle {
    display: none;
    }
}
.menu-toggle:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.menu-container.is-open {
    transform: translateX(0);
}
.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #FFFFFF;
}
.mobile-menu-item {
    display: flex;
    gap: 40px;
    width: fit-content;
    flex-direction: column;
    list-style: none;
    margin-bottom: auto;
    margin-top: 80px;
}
@media only screen and (min-width: 768px) {
    .mobile-menu-item {
        display: none;
    }       
}
.mobile-menu-link {
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: var(--color-cheked);
}
.mobile-menu-adress .list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px; 
}
.mobile-adress-tel {
    color: var(--letter-spacing);
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 0.02em;
    width: fit-content;
}
.mobile-adress-tel:hover,
.mobile-adress-tel:focus {
    color: var(--color-cheked);
}
.mobile-adress-email {
    color: var(--link-color-add);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-style: normal;
}
.mobile-menu-icons .list {
    display: flex;
    gap: 56px;
    justify-content: start;
    align-items: center;
    margin-bottom: 40px;
}
.mobile-menu-icon {
    width: 40px;
    height: 40px;
    background-color:#4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile-menu-icon:hover{
    background-color: var(--color-cheked);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-icon {
    fill: #F4F4FD;
}